  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>admin page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="path/to/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">

  </head>
  <body>

    
    <section class="vh-100" style="background-color: #508bfc;">

        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-12">
            <div class="container py-5 h-100">

            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  <div class="d-flex align-items-center">
                    <div class="alert-icon">
                      {% if message.tags == 'success' %}
                      <i class="fas fa-check-circle bg-succes"></i>
                      {% elif message.tags == 'warning' %}
                      <i class="fas fa-exclamation-circle bg-warning"></i>
                      {% elif message.tags == 'error' %}
                      <i class="fas fa-times-circle bg-error"></i>
                      {% endif %}
                    </div>
                    <div class="alert-message">
                      <strong>Message:</strong> {{ message }}
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
                {% endfor %}
                <h3 class="mb-5">Admin page</h3>
                <h5 class="mb-5">User details</h5>

                <form action="search" method="GET" class="d-flex">
                  <div></div>
                  <input class="form-control me-2" type="text" name="query" placeholder="search" aria-label="search">
                  <button class="btn btn-outline-succes btn-success" type="submit">search</button>
                </form>
                <a href="{% url 'add' %}" class="text-white">
                  <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #0539b3;" type="submit">Add user</button>
                </a>
                <br>
                <table id="customers" class="table table-bordered table-striped">
                  <thead class="thead-light">
                    <tr>
                      <th>Id</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Username</th>
                      <th>Email</th>
                      <th colspan="2" id="mid">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for x in member %}
                    <tr>
                      <td>{{ x.id }}</td>
                      <td>{{x.first_name}}</td>
                      <td>{{x.last_name}}</td>
                      <td>{{x.username}}</td>
                      <td>{{x.email}}</td>
                      <td>
                        <a href="update/{{x.id}}"><button class="btn btn-primary">Update</button></a>
                      </td>
                      <td>
                        <a href="delete/{{x.id}}"><button class="btn btn-danger">Delete</button></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                

                <a href={% url 'admin_signout' %} class="text-white">
                  <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #0539b3;" type="submit">Sign out</button>
                </a>

            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
  </body>
  </html>










  